@import 'tailwindcss';
@import 'uniwind';

@source "../components/**/*.{js,jsx,ts,tsx}";

@theme {
  --font-family-montserrat: 'Montserrat-Regular';
  --font-family-montserrat-regular: 'Montserrat-Regular';
  --font-family-montserrat-bold: 'Montserrat-Bold';
  --font-family-montserrat-light: 'Montserrat-Light';
  --font-family-montserrat-medium: 'Montserrat-Medium';
  --font-family-montserrat-semibold: 'Montserrat-SemiBold';
  --font-family-montserrat-extra-bold: 'Montserrat-ExtraBold';

  --font-family-raleway: 'Raleway-Regular';
  --font-family-raleway-regular: 'Raleway-Regular';
  --font-family-raleway-bold: 'Raleway-Bold';
  --font-family-raleway-light: 'Raleway-Light';
  --font-family-raleway-medium: 'Raleway-Medium';
  --font-family-raleway-semibold: 'Raleway-SemiBold';
  --font-family-raleway-extra-bold: 'Raleway-ExtraBold';

  --color-primary: #108036;
  --color-primary-50: #ECFDF5;
  --color-primary-200: #A7E5BE;
  --color-primary-300: #5CCB89;
  --color-primary-400: #34A853;
  --color-primary-500: #119E40;

  --color-gray-50: #FDFDFD;
  --color-gray-100: #F7F7F7;
  --color-gray-200: #F3F3F3;
  --color-gray-300: #B6B6B6;
  --color-gray-400: #A8A8A9;
  --color-gray-500: #676767;
  --color-gray-600: #4B4B4B;
  --color-gray-700: #3D3D3D;
  --color-gray-800: #2D2D2D;
  --color-gray-900: #1A1A1A;
}
